body {
  font-family: Merriweather, serif;
  margin: 0 auto;
  max-width: 80ch;
  padding: 1rem;
}

code {
  font-family: "Cascadia Code", sans-serif;
  font-size: 0.95rem;
}

div.sourceCode {
  border-radius: 0.5rem;
  margin-top: 1.5rem;
}

p,
h2 {
  margin-top: 1rem;
}

p.author {
  margin-top: 0.5rem;
}

p.date {
  margin: 0;
}

pre.sourceCode {
  margin: 0.5rem;
}
